@import "../node_modules/antd/dist/antd.css";

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#evernote-container {
  height: 100%;
  box-sizing: border-box;

}
.app-container {
  height: 100%;
  box-sizing: border-box;
}
.quill {
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 210px);
  overflow-y: auto;
}
.ql-editor {
  cursor: text;
}
.ql-editor li{
  color: black;
  }
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}
/* nav { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #6aa0c7;
  color: white;
}
.navlinks{
width: 20%;
display: flex;
justify-content: space-around;
align-items: flex-end;
list-style: none;
cursor: pointer;
} */
/* Header
     ============================================ */
     .header {
      border-bottom: solid 1px #ca2100;
      background-color: #db4c3f;
      -webkit-transition: height 200ms ease-in;
      transition: height 200ms ease-in;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      height: 38px;
      z-index: 400;
      position: relative;
      top: 0;
      width: 100%;
}

.header nav{

    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 44px;
}

.header nav p,li{
  color:white;
}
.header nav .logo{
  padding-left: 8px;
  grid-area: 1 / 1;
  cursor: pointer;
  font-family: cursive;
}

.header nav .settings{
  grid-area: 1 / 2;
  text-align: right;
}

.header nav .settings ul li{
  list-style: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  float: left;

}

.header nav .settings ul li:hover{
  border-radius: 3px;
  background-color: rgba(255,255,255,0.2);
}